<%- include('../partials/header') %>

   <h1>Edge Future Learning Partner Organizations</h1> 
   <label for="sort-name">
       <input name="sort" type="radio" id="sort-name" value="orgName" 
        <%= sortKey === 'orgName' ? 'checked' : '' %> >Sort by Name
   </label>
   <label for="sort-type">
       <input name="sort" type="radio" id="sort-type" value="type"
        <%= sortKey === 'type' ? 'checked' : '' %> >Sort by Type
   </label>
   <label for="sort-status">
        <input name="sort" type="radio" id="sort-status" value="status"
         <%= sortKey === 'status' ? 'checked' : '' %> >Sort by Status
    </label>
    <br><br><br>
   
    <section class="table-display">
    <table id="partner-list">
       <thead>
           <th>Organization Name</th>
           <th>Partner Type</th>
           <th>Partnership Status</th>
       </thead>
       <tbody>
           <% partners.forEach(p => { %>
            <tr>
                <td><a href='partners/<%=p.id%>'><%= p.orgName %></a></td>
                <td><%= p.type %></td>
                <td><%= p.status %></td>
            </tr>
           <% }) %>
       </tbody>
    </table>
    </section>
   <br><br><br>

   <div id="new-entry-partner">
       <h3>Add New Partner</h3>
       <form id="add-partner-form" action="/partners" method="POST">
           <label>Organization Name:
               <input type="text" name="orgName" placeholder="name">
            </label>
           <label>Website:
                <input type="text" name="website" placeholder="website">
           </label>
           <label>Description:
                <input type="text" name="description" id="description-input" placeholder="description">
           </label>
           <label>Location:
                <input type="text" name="location" placeholder="location">
           </label>
           <label>Partner Type:
                <select name="type">
                    <option value="Peer">Peer</option>
                    <option value="Collaborator/Contributor">Collaborator/Contributor</option>
                    <option value="Customer">Customer</option>
                    <option value="Technology">Technology</option>
                </select>
           </label>
           <label>Partnership Status:
                <select name="status">
                    <option value="Wider Contact">Wider Contact</option>
                    <option value="Exploring Relationship">Exploring Relationship</option>
                    <option value="Working Together">Working Together</option>
                    <option value="EFL Partner">EFL Partner</option>
                    <option value="EFL Leader">EFL Leader</option>
                </select>
           </label>
           <label>Primary Contact Name:
                <input type="text" name="contactName" placeholder="first and last name">
           </label>
           <label>Primary Contact Email:
                <input type="text" name="contactEmail" placeholder="email address">
           </label>
           <label>Lead Team Member:
           <select name="leadTeamMember">
                <option value="Cherakee">Cherakee</option>
                <option value="Helen">Helen</option>
                <option value="Laura">Laura</option>
                <option value="Olly">Olly</option>
           </select>
            </label>
           <button id="submit-form" type="submit">Add Partner</button>
       </form>
   </div>

<%- include('../partials/footer') %>