<%- include('../partials/header') %>
   <section class="partners-header">
      <h3>EFL Partners</h3>
   </section>   
   <section id="show-page-partners">
      <h1><%=partner.orgName%></h1>
      <div><span class="key">Website:</span> <%=partner.website%> </div>
      <div><span class="key">Description:</span> <%=partner.description%></div>
      <div><span class="key">Location:</span> <%=partner.location%> </div>
      <div><span class="key">Partner Type:</span> <%=partner.type%> </div>
      <div><span class="key">Partnership Status:</span> <%=partner.status%> </div>
      <div><span class="key">Primary Contact Name:</span> <%=partner.contactName%> </div>
      <div><span class="key">Contact Email:</span> <%=partner.contactEmail%> </div>
      <div><span class="key">Lead Team Member:</span> <%=partner.leadTeamMember%> </div>
   </section>
   <br>
   <section id="edit-document">
      <a href="/partners/<%=partner.id%>/edit">Edit Partner Information</a>
   </section>
   <br>
   <div id="partner-comment-form">
      <form id="add-partner-comment" method="POST" action="/partners/<%=partner._id%>/comments">
         <textarea name="text" placeholder="Enter a status update, comment, or other thought here."></textarea><br>
         <button id="add-comment" type="submit">Add Comment</button>
      </form>
   </div>
   <section id="partner-comment-table">
   <% if (partner.comments.length) { %>
      <table>
         <thead>
            <tr>
               <th>Timestamp</th>
               <th>Team Member</th>
               <th>Comment</th>
            </tr>
         </thead>
         <tbody>
            <% partner.comments.sort((a, b) => (b.updatedAt > a.updatedAt) ? 1: -1).forEach(c => { %>
             <tr>
                <td><%=c.updatedAt.toLocaleDateString()%></td>
                <td><% if (c.userAvatar) { %> 
                  <img src="<%= c.userAvatar %>" alt="avatar">
                  <% } %>
                   <%=c.userName%></td>
                <td><%=c.text%></td>
                <% if (c.userId.equals(user && user._id)) { %> 
                  <td>
                     <form id="edit-comment-button" action="/partners/<%=partner.id%>/comments/<%=c.id%>/edit" method="GET">
                        <button id="edit-comment" type="submit">Edit</button>
                     </form>
                  </td>
                  <% } %>
                <% if (c.userId.equals(user && user._id)) { %>
                   <td>
                     <form action="/partners/<%=partner.id%>/comments/<%=c._id%>?_method=DELETE" method="POST">
                        <button id="delete-comment" type="submit">Delete</button>
                     </form>
                  </td>
                <% } %> 
             </tr>
            <% }) %> 
         </tbody>
      </table>
   </section>

   <% } else { %> 
      <h5>No comments yet. Please add below.</h5>
   <% } %>
   <br>
   <br>
   <br>
   <br>

   <div>Record Created By: <%=partner.userName%></div>
   <section id="delete">
      <form action="/partners/<%=partner.id%>/?_method=DELETE" class="delete-form" method="POST">
          <button id="delete-partner" type="submit">Delete Partner</button><br>
          <label>Warning: This action cannot be undone.</label>
      </form>

  </section>


<%- include('../partials/footer') %>