<%- include('../partials/header') %>
 
   <section id="show-page-partners">
      <h1><%=partner.orgName%></h1>
      <div>Website: <%=partner.website%> </div>
      <div>Description: <%=partner.description%></div>
      <div>Location: <%=partner.location%> </div>
      <div>Partner Type: <%=partner.type%> </div>
      <div>Partnership Status: <%=partner.status%> </div>
      <div>Primary Contact Name: <%=partner.contactName%> </div>
      <div>Contact Email: <%=partner.contactEmail%> </div>
   </section>
   <br>
   <section>
      <a href="/partners/<%=partner.id%>/edit">Edit Partner</a>
   </section>
   <br>
   <% if (partner.comments.length) { %>
      <table>
         <thead>
            <tr>
               <th>Timestamp</th>
               <th>Team Member</th>
               <th>Comment</th>
               <th> REMOVE ME c.userId</th>
               <th> REMOVE ME user._id</th>
            </tr>
         </thead>
         <tbody>
            <% partner.comments.forEach(c => { %>
             <tr>
                <td><%=c.createdAt.toLocaleDateString()%></td>
                <td><%=c.userName%> </td>
                <td><%=c.text%> </td>
                <td><%=c.userId%> </td>
                <td><%=user._id%> </td>
                <% if (c.userId.equals(user && user._id)) { %>
                   <td>
                     <form action="/partners/<%=partner.id%>/comments/<%=c._id%>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                     </form>
                  </td>
                <% } %> 
             </tr>
            <% }) %> 
         </tbody>
      </table>

   <% } else { %> 
      <h5>No comments yet. Please add below.</h5>
   <% } %>
   
   <div id="partner-comment-form">
      <form id="add-partner-comment" method="POST" action="/partners/<%=partner._id%>/comments">
         <textarea name="text"></textarea><br>
         <button id="add-comment" type="submit">Add Comment</button>
      </form>
   </div>
   <br>
   <br>
   <br>

   <div>Record Created By: <%=partner.userName%> on PUT DATE BACK IN HERE ONCE TIMESTAMPS WORKING AGAIN</div>
   <section id="delete">
      <form action="/partners/<%=partner.id%>/?_method=DELETE" class="delete-form" method="POST">
          <button id="delete-partner" type="submit">Delete Partner</button><br>
          <label>Warning: This action cannot be undone.</label>
      </form>

  </section>


<%- include('../partials/footer') %>