<%- include('../partials/header') %>
 
   <section id="show-page-partners">
      <h1><%=partner.orgName%></h1>
      <div>Website: <%=partner.website%> </div>
      <div>Description: <%=partner.description%></div>
      <div>Location: <%=partner.location%> </div>
      <div>Partner Type: <%=partner.type%> </div>
      <div>Partnership Status: <%=partner.status%> </div>
      <div>Primary Contact Name: <%=partner.contactName%> </div>
      <div>Contact Email: <%=partner.contactEmail%> </div>
      <div>Entered By: <%=partner.enteredBy%></div>
   </section>
   <br>
   <section>
      <a href="/partners/<%=partner.id%>/edit">Edit Partner</a>
   </section>
   <br>
   <% if (partner.comments.length) { %>
      <table>
         <thead>
            <tr>
               <th>Timestamp</th>
               <th>Team Member</th>
               <th>Comment</th>
            </tr>
         </thead>
         <tbody>
            <% partner.comments.forEach(c => { %>
             <tr>
                <td><%=c.createdAt.toLocaleDateString()%></td>
                <td><%=c.enteredBy%> </td>
                <td><%=c.text%> </td>
             </tr>
            <% }) %> 
         </tbody>
      </table>

   <% } else { %> 
      <h5>No comments yet. Please add below.</h5>
   <% } %>
   
   <div id="partner-comment-form">
      <form id="add-partner-comment" method="POST" action="/partners/<%=partner._id%>/comments">
         <textarea name="text"></textarea>
         <button id="add-comment" type="submit">Add Comment</button>
      </form>
   </div>


<%- include('../partials/footer') %>