<%- include('../partials/header') %>

    <h1>Edit Project Information</h1>
    <form id="edit-project-form" action="/projects/<%=project.id%>?_method=PUT" method="POST">
        <label>Project Name:
            <input type="text" name="projectName" value="<%=project.projectName%>">
         </label>
         <label>Type:
            <select name="type" value="<%=project.type%> ">
               <option value="Blog">Blog</option>
               <option value="Case Study">Case Study</option>
               <option value="Webinar">Webinar</option>
               <option value="Training">Training</option>
               <option value="Tool/Resource">Tool/Resource</option>
               <option value="Maseter Class">Master Class</option>
               <option value="Online Course">Online Course</option>
               <option value="Co-Developed Training">Co-Developed Training</option>
               <option value="On-Site Visit">On-Site Visit</option>
               <option value="Other">Other (please describe)</option>
            </select>
         </label>
         <label>Description:
            <input type="text" name="description" value="<%=project.description%>">
         </label>
         <label>Size:
            <select name="size" value="<%=project.size%> ">
               <option value="xs">Extra Small</option>
               <option value="s">Small</option>
               <option value="m">Medium</option>
               <option value="l">Large</option>
               <option value="xl">Extra Large</option>
            </select>
         </label>
         <label>Start Date:
            <input type="date" name="startDate" value="<%=project.startDate%>">
         </label>
         <label>End Date:
            <input type="date" name="endDate" value="<%=project.endDate%>">
         </label>
         <label>Partner:
            <select name="partner" value="<%=project.partner%> ">
               <% partners.sort().forEach(p => { %>
                  <option value="<%=p._id%>"><%=p.orgName%> </option>
               <% }) %> 
            </select>
         </label>
         <label>Lead Team Member:
            <select name="leadTeamMember" value="<%=project.leadTeamMember%>">
                 <option value="Cherakee">Cherakee</option>
                 <option value="Helen">Helen</option>
                 <option value="Laura">Laura</option>
                 <option value="Olly">Olly</option>
            </select>
         </label>
         <button id="submit-form" type="submit">Update</button>
    </form>

<%- include('../partials/footer') %>