<%- include('../partials/header') %>

   <section class="projects-header">
      <h3>EFL Projects</h3>
   </section>
   <h1>Edge Future Learning Projects</h1>
   <section class="table-display">
   <table id="project-list">
      <thead>
         <th>Project Name</th>
         <th>Project Type</th>
         <th>In Partnership With</th>
         <th>Size</th>
      </thead>
      <tbody>
         <% projects.forEach(p => { %>
            <tr>
               <td><a href="projects/<%=p.id%>"><%=p.projectName%></a></td>
               <td><%=p.type%></td>
               <% partners.forEach(partner => { %>
                  <% if (p.partner.equals(partner._id)) { %>
                     <td><%=partner.orgName%></td>
                  <% } %>
               <% }) %>
               <td><%=p.size%></td>
            </tr>
         <% }) %> 
      </tbody>
   </table>
   </section>
   <br><br><br>

   <div id="new-entry-project">
      <h3>Add New Project</h3>
      <form id="add-project-form" action="/projects" method="POST">
         <label>Project Name:
            <input type="text" name="projectName">
         </label>
         <label>Type:
            <select name="type">
               <option value="Blog">Blog</option>
               <option value="Case Study">Case Study</option>
               <option value="Webinar">Webinar</option>
               <option value="Training">Training</option>
               <option value="Tool/Resource">Tool/Resource</option>
               <option value="Master Class">Master Class</option>
               <option value="Online Course">Online Course</option>
               <option value="Co-Developed Training">Co-Developed Training</option>
               <option value="On-Site Visit">On-Site Visit</option>
               <option value="Other">Other (please describe)</option>
            </select>
         </label>
         <label>Description:
            <input type="text" name="description">
         </label>
         <label>Size:
            <select name="size">
               <option value="xs">Extra Small</option>
               <option value="s">Small</option>
               <option value="m">Medium</option>
               <option value="l">Large</option>
               <option value="xl">Extra Large</option>
            </select>
         </label>
         <label>Start Date:
            <input type="date" name="startDate">
         </label>
         <label>End Date:
            <input type="date" name="endDate">
         </label>
         <label>Partner:
            <select name="partner">
               <% partners.sort().forEach(p => { %>
                  <option value="<%=p._id%>"><%=p.orgName%> </option>
               <% }) %> 
            </select>
         </label>
         <label>Lead Team Member:
            <select name="leadTeamMember">
                 <option value="Cherakee">Cherakee</option>
                 <option value="Helen">Helen</option>
                 <option value="Laura">Laura</option>
                 <option value="Olly">Olly</option>
            </select>
         </label>
         <button id="submit-form" type="submit">Add Project</button>
      </form>
   </div>


<%- include('../partials/footer') %>