<%- include('../partials/header') %>
   <section class="projects-header">
      <h3>EFL Projects</h3>
   </section>
   <section id="show-page-projects">
      <h1><%=project.projectName%></h1>
      <div><span class="key">Type:</span> <%=project.type%></div>
      <div><span class="key">Description:</span> <%=project.description%></div>
      <div><span class="key">Size:</span> <%=project.size%></div>
      <div><span class="key">Start Date:</span> <%=project.startDate%></div>
      <div><span class="key">End Date:</span> <%=project.endDate%></div>
      <div><span class="key">Partner:</span> <%=partner.orgName%> </div>
      <div><span class="key">Lead Team Member:</span> <%=project.leadTeamMember%></div>
   </section> 
   <br>
   <section id="edit-document">
      <a href="/projects/<%=project.id%>/edit">Edit Project Information</a>
   </section>
   <br>
   <div id="project-comment-form">
      <form id="add-project-comment" method="POST" action="/projects/<%=project._id%>/comments">
         <textarea name="text" placeholder="Enter a status update, comment, or other thought here."></textarea>
         <br>
         <button id="add-comment" type="submit">Add Comment</button>
      </form>
   </div>
   <br>
   <section id="project-comment-table">
   <% if (project.comments.length) { %>
      <table>
         <thead>
            <tr>
               <th>Timestamp</th>
               <th>Team Member</th>
               <th>Comment</th>
            </tr>
         </thead>
         <tbody>
            <% project.comments.sort((a, b) => (b.updatedAt > a.updatedAt) ? 1: -1).forEach(c => { %>
               <tr>
                  <td><%=c.updatedAt.toLocaleDateString()%></td>
                  <td><%=c.userName%></td>
                  <td><%=c.text%></td>
                  <% if (c.userId.equals(user && user._id)) { %>
                     <td>
                        <form id="edit-comment-button" action="/projects/<%=project.id%>/comments/<%=c.id%>/edit" method="GET">
                           <button id="edit-comment" type="submit">Edit</button>
                        </form>
                     </td>
                  <% } %> 
                  <% if (c.userId.equals(user && user._id)) { %>
                     <td>
                       <form action="/projects/<%=project.id%>/comments/<%=c._id%>?_method=DELETE" method="POST">
                          <button id="delete-comment" type="submit">Delete</button>
                       </form>
                    </td>
                  <% } %>
               </tr>
            <% }) %> 
         </tbody>
      </table>
   <% } else { %> 
      <h5>No comments yet. Please add below.</h5>
   <% } %>
   </section>
   <br>
   <br>
   <br>

   <div>Record Created By: <%=project.userName%> </div>
   <section id="delete">
      <form action="/projects/<%=project.id%>/?_method=DELETE" class="delete-form" method="POST">
         <button id="delete-project" type="submit">Delete Project</button><br>
         <label>Warning: This action cannot be undone.</label>
      </form>
   </section>

<%- include('../partials/footer') %>